<div class="row">
    <div class="col-md-4">
        <div class="btn-group" dropdown>
            <button id="single-button" type="button" class="btn btn-info" dropdownToggle [disabled]="disabled">
                Hide Columns <span class="caret"></span>
            </button>
            <ul dropdownMenu role="menu" aria-labelledby="single-button">
                <li *ngFor="let col of columns">
                    <a class="dropdown-item"> <md-checkbox [(ngModel)]="col.hide" (change)="onCheckboxChange(col)"></md-checkbox> {{col.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <md-input-container>
            <input md-input placeholder="Items/Page" [(ngModel)]="itemsPerPage" style="width: 100px">
        </md-input-container>
    </div>
</div>

<div class="margin-border">
    <smart-table [columns]="_columns" [rows]="rows" (tableChanged)="onChangeTable($event)"
                 (cellClicked)="onCellClick($event)"></smart-table>

    <pagination *ngIf="true"
                class="pagination-sm"
                [(ngModel)]="page"
                [totalItems]="length"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChanged)="onChangeTable(config, $event)"
                (numPages)="numPages = $event">
    </pagination>
    <pre *ngIf="true" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
</div>