<pre>{{funcArea}} : {{date | date:'dd-MMM-yy'}}</pre>
<br/>

<table id="jobNotices" class="table table-bordered" cellspacing="0" width="100%" >
    <thead>
    <tr>
        <th>Job#</th>
        <th>DB#</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let job of jobList">
        <td scope="row">{{job?.job}}</td>
        <td>{{job?.database}}</td>
        <td>
            <div class="form-inline" style="margin-right: 0px;margin-left: 0px">
                <span *ngFor="let res of result">
                    <span *ngIf="res?.jobTypeCode == job.database" class="fa-stack fa-sm" tooltip="{{res.endTime | date:'shortTime'}}" tooltip-append-to-body="true">
                       <i class="fa fa-square-o fa-stack-1x"></i>
                        <i class="fa fa-inverse fa-stack-1x"
                             [ngClass]="{'background-green': (res?.currentStatus == 'COMPLETED'),'background-yellow': (res?.currentStatus == 'IN_PROGRESS')}">
                             {{res?.currentStatus | jobStatusTransform}}</i>
                    </span>
                </span>
            </div>
        </td>
    </tr>
    </tbody>
</table>
